<h1>Welcome Home!</h1>
<h4>Which table would you like to view?</h4>

<div class="button_container">
  <a href="/products" class="my_button">Products</a>
  <a href="/users" class="my_button">Users</a>
</div>