<div class="button_container"><a href="/" class="my_button">Home</a></div>

<h1>New Product</h1>

<form action="/new_product" method="post">
  <p>
  Product Name: <input type="text" name="product_name"/>
  <p>
  Product Price: <input type="text" name="product_price"/>
  <p>
  <input type="radio" name="sale" value="t">On Sale
  <input type="radio" name="sale" value="f">Not on Sale
  <p>
  <button>Save it!</button>
</form>
