

<div class="button_container">
  <a href="/" class="my_button">Return Home</a>
  <a href="/new_product" class="my_button">Create Another</a>
</div>

<h1>Product Updated!</h1>

<p>
  The product has been Updated!
<p>
