<div class="button_container">
  <a href="/" class="my_button">Return Home</a>
  <a href="/products" class="my_button">Refresh Products</a>
</div>

<h1>Product Deleted!</h1>

<p>
  The product has been Deleted!
<p>

<%= params.inspect %>

