<h1>You searched for <%= @q %></h1>

<% @results["results"].each do |result| %>
  <div class="twit_container">
    <img src="<%= result["profile_image_url"] %>">
    <p>
    <%= result["text"] %>
  </div>
<% end %>